.body-catalogo a{
	color: #222 !important;
}

.bg_gray{
	background: #eee !important;
}

.clr_green{
	color: #36a23a !important;
}
.clr_red{
	color: #e62e21 !important;
}

.clr_yellow{
	color: #f5a603 !important;
}

.clr_black{
	color: #222 !important;
}

.bg_gray{
	background: #eee !important;
}

.bg_black{
	background: #222 !important;
}

.bg_yellow{
	background: #f5a603 !important;
}

.card-producto h6,
.card-producto p,
.card-producto b{
	font-size: 12px;
}

.img-catalogo {
    height: 150px;
    width: 90% !important;
    object-fit: contain;
    object-position: center;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: .5rem;
}

.img-ultimoscatalogo{
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}

.img-buscado{
	height: 130px;
	object-fit: cover;
	object-position: center;
	padding: .5rem;
}

.col-catalogo{
	/* background: #f5a603; */
}

.col-catalogo h6,
.col-catalogo a{
	color: #222 !important;
	font-size: 12px !important;
	text-transform: uppercase;
}

.body-catalogo{
	overflow-y: auto;
	height: 100vh;
}

.head-catalogo{
	padding-top: 2rem;
}

.btn-catalogo{
    color: #fff !important;
    background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
    border-radius: 1rem;
    border: none;
    border: 1px solid white;
}

.btn-catalogo:hover{
    background-color: transparent !important;
    color: black;
    border: 1px solid white;
}

.list-group-item,
.list-group-item{
	background: none !important;
	border: none !important;
	border-bottom: 1px solid #d2961c !important;
} 

.codigo-producto{
	background: #f5a603;
	color: #fff;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	padding: .5rem;
}

.titulo-producto{
	color: #fff;
	text-align: center;
	font-size: 1.2rem;
}

.card-productos{
	background: #161616;
}

.desc-producto{
	text-align: center;
	color: #eee;
	font-size: 1rem;
	padding: .5rem;
	line-height: 25px;
}

.cod_producto{
	color: #222;
	font-size: 11px;
	font-weight: bold;
}

.precio-producto{
	color: #eee;
}

.precio-producto{
    text-align: center !important;
    padding: .2rem;
    border:1px solid #fff;
    color: #fff;
    font-size: 2rem;
}

.modal-producto .modal-header{
	background: #f5a603 !important;
	color: #333 !important;
	width: 100% !important;
	height: 100% !important;
	max-height: 100%;
	top: 0px !important;
	z-index: 9999;
}

.brand-catalogo{
	border-right: 1px solid #000;
}

.btn-float{
	background: #222 !important;
	padding: .5rem .8rem !important;
	border-radius: 50% !important;
	position: fixed;
	right: 15px;
	bottom: 5px;
}

.btn-carrito{
	background: #f5a603 !important;
	padding: .5rem .7rem !important;
	border-radius: 50% !important;
	position: fixed;
	right: 65px;
	bottom: 20px;
	box-shadow: 2px 2px 4px #333;
    border: 1px solid #fff;
    z-index: 1;
}

.btn-float i,
.btn-carrito i{
	color: #222 !important;
}

.opc-catalogo{
	padding-left: 2px !important;
}

.tit_producto{
	color: #eee;
	font-size: 12px;
	text-align: center;
}

.page-item.active .page-link{
	background: #f5a603;
	color: #222;
}

.btn-filtrar{
	position: fixed;
    right: 110px;
    bottom: 20px;
    border-radius: 5rem;padding: .5rem .7rem;z-index: 1000;box-shadow: 2px 2px 4px #333;
    border: 1px solid #fff;
}

.contenedor_productos{
	max-height: 400px;height:auto;overflow:auto;
}

@media (min-width: 768px){
	.head-catalogo,
	.brand-catalogo{
		min-height: 15vh;
	}

	.col-catalogo{
		min-height: 85vh;
	}

	.btn-float{
		display: none !important;
	}

	.card-body{
		min-height: 120px;
	}
	.hidden-lp{
		display: none !important;
	}
	.cont_carg{
		text-align: left !important;
	}
	.cont_pedi{
		text-align: right !important;
	}
}

@media (max-width: 767px){
	.col-catalogo{
		display: none;
	}
	.hidden-mv{
		display: none;
	}
	.cont_carg, .cont_pedi{
		text-align: center !important;
	}
	.cont_cli td{
		border: none;
	}
}

.tachado {
  text-decoration: line-through;
  color: #f5a603;
}

.etiqueta-oferta{
	background: #d01f2a;
	color: #fff;
    padding: .5rem;
    font-size: 16px;
}

.shape{   
    border-style: solid;
    border-width: 0 55px 55px 0;
    height: 0px;
    position: absolute;
    right: 0px; height: 0px; width: 0px;
    -webkit-transform: rotate(360deg);  
    -moz-transform: rotate(360deg);  
    -o-transform: rotate(360deg);  
    transform: rotate(360deg); 
    z-index: 1;
}
.shape-text{
    color:#fff; font-size:12px; font-weight:bold; position:relative; right:-22px; top:-3px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(46deg); /* Safari and Chrome */
	transform:rotate(46deg);
}
.shape {
	border-color: rgba(255,255,255,0) #d01f2a rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-content{
	padding:0 20px 10px;
}
