#dark-slider h3 {
	color: #ccc;
}

#dark-slider .slide-text {
	color: #ccc;
	line-height: 1.5;
}

#dark-slider p.caption {
	color: #fff;
	padding: 6px;
}

#dark-slider .item {
	min-height: 555px;
	height: auto;
}

.carousel-item img {
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
}

.carousel-caption {
		text-align: left; }

#dark-slider .carousel-control {
	color: #ccc;
	opacity: 0.8;
}

.text-primary {
	color: #EB586F !important;
}

/* Carousels */
.owl-theme .owl-controls .owl-page span {
	width: 12px !important;
	height: 12px !important;
	margin: 5px !important;
	background: #EB586F !important;
}

#cards-carousel .card-block {
	margin: 0 10px;
	background: #f7f7f7;
}

#cards-carousel .card {
	background: transparent;
	margin-bottom: 0;
}

#image-carousel .item {
	margin: 10px;
}

#image-carousel .item img {
	display: block;
	width: 100%;
	height: auto;
}

/* / Sliders */
#carousel-area {
	background: #2c3e50;
}

#carousel-area .carousel-inner .active {
	opacity: 1;
}

#carousel-area .carousel-inner .active.left,
#carousel-area .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}

#carousel-area .carousel-inner .next.left,
#carousel-area .carousel-inner .prev.right {
	opacity: 1;
}

#carousel-area .carousel-control {
	z-index: 2;
}

#carousel-area .carousel-indicators {
	bottom: 5px;
}

#carousel-area .carousel-indicators li {
	border-radius: 0px;
	width: 32px;
	height: 5px;
	margin: 0 5px;
	background: rgba(253, 254, 255, 0.8);
	border: none;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
}

.carousel-post {
	margin-right: 15px;
}

.carousel-post h5 {
	margin-top: 20px;
}

#single-testimonial-item .item {
	margin: 10px;
}

#single-testimonial-item .property-main {
	margin-bottom: 0;
}

#single-testimonial-item .owl-controls .owl-buttons {
	position: relative;
	top: -160px;
	left: 0;
}

#single-testimonial-item .owl-controls .owl-buttons div.owl-prev {
	float: left;
	margin-left: -45px;
}

#single-testimonial-item .owl-controls .owl-buttons div.owl-next {
	float: right !important;
	margin-right: -45px;
}

#image-slider .owl-controls .owl-buttons {
	position: relative;
	top: -280px;
	left: 0;
}

#image-slider .owl-controls .owl-buttons div.owl-prev {
	float: left;
	margin-left: 45px;
}

#image-slider .owl-controls .owl-buttons div.owl-next {
	float: right !important;
	margin-right: 45px;
}

#posts-carousel-3col .owl-controls .owl-buttons {
	position: relative;
	top: -235px;
	left: 0;
}

#posts-carousel-3col .owl-controls .owl-buttons div.owl-prev {
	float: left;
	margin-left: -60px;
}

#posts-carousel-3col .owl-controls .owl-buttons div.owl-next {
	float: right !important;
	margin-right: -45px;
}

#posts-carousel .owl-controls .owl-buttons {
	position: relative;
	top: -235px;
	left: 0;
}

#posts-carousel .owl-controls .owl-buttons div.owl-prev {
	float: left;
	margin-left: -60px;
}

#posts-carousel .owl-controls .owl-buttons div.owl-next {
	float: right !important;
	margin-right: -45px;
}

@media(max-width: 767px){
	#carousel-area .carousel-item .carousel-caption h1 {
		font-size: 24px;
		margin-bottom: 10px;
		text-shadow: 2px 2px #000;
		color: #fff;
		font-weight: bold;
	}

	#carousel-area .carousel-item .carousel-caption h3{
		font-size: 16px;
		margin-bottom: 10px;
		color: #fff;
		text-shadow: 2px 2px #000;
	}

	#carousel-area .carousel-item .carousel-caption h5 {
		color: #fff;
		line-height: 18px;
		margin-bottom: 10px;
		font-size: 14px;
		text-shadow: 1px 1px #000;
	}

	#carousel-area .carousel-item .carousel-caption {
		top: 0%;
		padding-top: 0px;
		text-shadow: none;
	}

	.btn-slider{
		font-size: 16px;
		padding: .2rem .5rem;
		margin: 0px !important;
		position: absolute;
		bottom: 30px !important;
	}
	.carousel-item img{
		height: 50vh;
		object-fit: cover;
		object-position: left;
	}

	.slider-run{
		right: 5px !important;
		left: 5px !important;
	}

	.slider-run h1{
		font-size: 22px !important; text-align: center; width: 95%;
	}

	.info-run{
		font-size: 18px; color: #fff;
	}
}

@media(min-width: 768px){
	.slider-run h1{
		font-size: 45px; text-align: center; width: 45%;
	}

	.info-run{
		font-size: 25px; color: #ffc107;
	}
}

@media(min-width: 768px) and (max-width: 1150px){
	#carousel-area .carousel-item .carousel-caption h1 {
		font-size: 30px;
		margin-bottom: 15px;
		text-shadow: 2px 2px #333;
		color: #fff;
	}

	#carousel-area .carousel-item .carousel-caption h3{
		font-size: 22px;
		margin-bottom: 10px;
		text-shadow: 2px 2px #333;
		color: #fff;
	}

	#carousel-area .carousel-item .carousel-caption h5 {
		color: #fff;
		line-height: 24px;
		margin-bottom: 10px;
		text-shadow: 2px 2px #333;
		font-size: 28px;
	}

	#carousel-area .carousel-item .carousel-caption {
		top: 0%;
		text-shadow: none;
	}
	.slider-1{
		width: 40% !important;
	}
}

@media(min-width: 1151px){
	#carousel-area .carousel-item .carousel-caption h1 {
		font-size: 34px;
		margin-bottom: 15px;
		color: #fff;
		font-family: 'montserrat-extrabold', sans-serif;
	}

	#carousel-area .carousel-item .carousel-caption h3{
		font-size: 25px;
		margin-bottom: 20px;
		color: #fff;
	}

	#carousel-area .carousel-item .carousel-caption h5 {
		color: #fff;
		line-height: 24px;
		margin-bottom: 30px;
		font-size: 28px;
	}

	#carousel-area .carousel-item .carousel-caption {
		top: 10%;
		text-shadow: none;
	}
}
